# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OOP_Tutorials\Music\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
